[submodule "Ray_Tracing"]
	path = Ray_Tracing
	url = https://github.com/brianmanderson/Ray_Tracing.git
[submodule "Brazil_Data/Import_Patients_To_Raystation"]
	path = Brazil_Data/Import_Patients_To_Raystation
	url = https://github.com/brianmanderson/Import_Patients_To_Raystation.git
[submodule "Brazil_Data/Raystation_Import_Scripts"]
	path = Brazil_Data/Raystation_Import_Scripts
	url = https://github.com/brianmanderson/Raystation_Import_Scripts
[submodule "Outcome_Analysis/RegisteringImages"]
	path = Outcome_Analysis/RegisteringImages
	url = https://github.com/brianmanderson/RegisteringImages
[submodule "Outcome_Analysis/Make_Single_Images"]
	path = Outcome_Analysis/Make_Single_Images
	url = https://github.com/brianmanderson/Make_Single_Images.git
